html{
    background-color: #c9c9c944;
}


.card{
    background-color: white;
    padding: 2rem 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    
}

.card-section{
    margin: 2rem;
}
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.p-17{
    padding: 16%;
}

.m-0{
    margin: 0;
}

/* .mt-5{
    padding-top: 10rem;
} */

.header{
    position: fixed;
    top:0.3rem;
    left: 4rem;
}

.light{
    font-weight: lighter;
}

.card h2{
    font-size:5vw;
    margin: 0;
}