
/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

input{
    padding: 16px 8px;
    margin: 8px 0px;
    width: calc(100% - 20px);
    /* border:1px; */
}

button{
    /* background-color:rgba(206, 0, 0, 1); */
    /* border-radius: 4px; */
    /* border: rgba(206, 0, 0, 1); */
    padding: 16px 8px;
    margin: 8px 0px;
    /* color: white; */
    font-weight: bold;
    width: 100%;
}
/* 
button:hover{
    background-color:rgb(173, 39, 39);   
} */